

.navmenu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

.navmenu li {
    display: inline-block;
    padding: 2px;
    border-bottom: 1px solid rgba(13,62,32,0.98);
    border-top: none;
    width: 250px;
}

.navmenu li span {
    padding: 10px;
    cursor: pointer;
}

.navmenu .dropdown {
    display: none;
    position: absolute;
    background-color: #fec039;
    width: 250px;
    box-shadow: 2px 8px 16px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(13,62,32,0.98);
    font-family: 'Montserrat', sans-serif;            
}

.navmenu .dropdown li {
    display: block;
}

.dropdown-li:focus .dropdown {
    display: block;
}

.dropdown-li {
    position: relative;
    
}

#schoolYearButton {
    cursor: pointer;
    color: rgba(13, 62, 32, 0.98);
    font-weight: bold;

}

.dropdown {
    display: none;
    position: absolute;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown li {
    display: block;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: rgba(13, 62, 32, 0.98);
    

}

.dropdown li:last-child {
    border-bottom: none;
}

.dropdown a {
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #f5f5f5; 
}
// .notifContainer {
//     float: right;
//     margin-top: 1vw;
// }
.notification {
    color: #155724;
    text-decoration: none;
    position: relative;
    display: inline-block;
    border-radius: 2px;
    // padding-right: 250px;
    cursor: pointer;
    margin-left: 77vw;
}
.notification:hover {
    background: #fec039;
  }
  .notification-content {
        display: none;
        position: absolute;
        /* top: -145px; */
        right: 0;
        width: 341px;
        height: 200px;
        background-color: white;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        z-index: 1;
        font-size: small;
        color: #28a745;
        text-align: left;
        overflow-x: hidden;
        font-family: "Montserrat", sans-serif;
        padding: 1vw;
        border: 2px solid black;
   }


   .notification-content {
    display: none; /* Hide the notification content by default */
}

.notification.active .notification-content {
    display: block; /* Show the notification content when the notification is active */
}

.logosc {
    background-image: url("../scss/image/ExcUseSlip.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -15px;
    margin-left: 485px;
    position: absolute;
    height: 50px;
    width: 102px;
    z-index: 1;
    padding: 21px 22px;
}
    .dean-details-container {
// background-color: #f8f9fa;
    // padding: 20px;
    // border: 1px solid #dee2e6;
    // width: 78%;
    // margin: 20px auto;
    margin-left: 313px;
    width: 80%;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    // font-family: 'Montserrat', sans-serif;
    // border-top-right-radius: .25rem;
    // border-top-left-radius: 1rem;
    // border-left: 1px solid yellowgreen;
    // border-right: 1px solid yellowgreen;
    // border-bottom: 5px solid #fec039;
    // border-top: 1px solid yellowgreen;
    font-family: 'Montserrat', sans-serif;
    }

    hr{
        height: 1px;
        background-color: darkgreen;
        border: 2px solid black;
        border-radius: 10px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    hr:hover{
    
    height: 2px;
    background-color: green;
    border: 1px solid black;
    width: 100%;
    }

    h1 {
       margin-top: 75px;
       margin-left: 418px;
    }

    p {
        margin-bottom: 5px;
    }

   

    .btn:hover {
        background-color: #0056b3;
    }

    .excuse-slip-table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    .excuse-slip-table th,
    .excuse-slip-table td {
        border: 1px solid #ccc;
        padding: 10px;
        text-align: center;
        width: 110px;
    }

    .excuse-slip-table th {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
        background-color: #155724;
        color: white;
    }
    .excuse-slip-table tr:hover {
        // border: 1px solid #ddd;
        // padding: 8px;
        // text-align: center;
        background-color: #fec039;
        font-weight:bold;
        // color: white;
    }
    .btn-approved {
        background-color: #28a745;
        height: 30px; /* Set the height you desire */
        width: 30%; /* Full width of the container */
        border: none;
        border-radius: 5px;
        color: white;
    }

    .btn-approved:hover {
        background-color: darkgreen;
        height: 30px; /* Set the height you desire */
        width: 35%; /* Full width of the container */
        
    }
    .btn-reject {
        background-color: red;
        height: 30px; /* Set the height you desire */
        width: 30%; /* Full width of the container */
        border: none;
        border-radius: 5px;
        color: white;
    }

    .btn-reject:hover {
        background-color: darkred;
        height: 30px; /* Set the height you desire */
        width: 35%; /* Full width of the container */
        
    }
    .btn-send {
        background-color: orange;
        height: 30px; /* Set the height you desire */
        width: 30%; /* Full width of the container */
        border: none;
        border-radius: 5px;
        color: white;
    }

    .btn-send:hover {
        background-color: darkblue;
        height: 30px; /* Set the height you desire */
        width: 35%; /* Full width of the container */
        
    }

    footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: rgba(13, 62, 32, 0.98);
      text-align: right; /* Align the notification to the right */
      padding: 0 20px;
    }
    footer hr {
      border: none;
      border-top: 1px solid #ccc;
      margin: 10px auto;
    }
    // .notification {
    //   background-color: #fec039;
    //   color: white;
    //   text-decoration: none;
    //   position: relative;
    //   display: inline-block;
    //   border-radius: 2px;
    //   padding-right: 250px;
    //   cursor: pointer; /* Add cursor pointer to indicate interactivity */
    // }
  