
.slip-view-container button[type="submitap"] {
    background-color: #28a745;
    height: 32px;
    width: 11%;
    border-radius: 5px;
    color: white;
    margin-left: 753px;
}
.slip-view-container button[type="submitre"] {
    background-color: red;
    height: 32px;
    width: 11%;
    border-radius: 5px;
    color: white;
    margin-left: 872px;
}
    .slip-view-container button[type="submit"] {
        background-color: #28a745;
        height: 50px; /* Set the height you desire */
        width: 10%; /* Full width of the container */
        border: none;
        border-radius: 5px;
        color: white;
    }
    .slip-view-container button[type="submit"]:hover {
    background-color: #218838; /* Change the background color on hover */
    cursor: pointer; /* Add a pointer cursor on hover */
}
.logosc {
    background-image: url(http://[::1]:4000/resources/scss/image/ExcUseSlip.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -15px;
    margin-left: 471px;
    position: absolute;
    height: 50px;
    width: 102px;
    z-index: 1;
    padding: 21px 22px;
}
hr{
        height: 1px;
        background-color: green;
        border: 2px solid black;
        border-radius: 10px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .slip-view-container input[type="text"], .slip-view-container textarea {
    width: 98%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.teacher-container p {
  display: inline-block;
  margin-right: 197px;
}


// .status{
//     margin-left: 800px;
// }

.status ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

// .status li{
    
    
// }

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f9fa;
}

.slip-view-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.slip-view-card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 60%;
    margin: 20px auto;
    border: 2px solid #28a745; /* Green border color */
}

.slip-view-header {
    text-align: center;
    padding: 20px 20px 0 20px;
}

.slip-view-body {
    margin: 20px;
}

.slip-view-container .form-group {
    margin-bottom: 20px;
}

.slip-view-container label {
    display: block;
    font-weight: bold;
}

.slip-view-container input[type="text"],
.slip-view-container textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.slip-view-container input[type="file"] {
    padding: 10px;
}

.slip-view-container button[type=submit] {
    padding: 0px 20px;
    background-color: #fec039;
    color: rgba(13, 62, 32, 0.98);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid violet;
    width: 9%;
    font-weight: bold;
    margin-top: 84px;
}

.slip-view-container button[type="submit"]:hover {
    background-color: wheat;
}

/* Add custom styles for alignment */
.excuse-slip p {
    margin-bottom: 5px;
}

.name-container p{
    display: inline-block;
    margin-right: 10px;
}
/* Add custom styles for alignment */
.teacher-container p {
    display: inline-block;
    margin-right: 10px; /* Adjust the margin to control the space between Teacher and Subject */
}
.excuse-slip p {
            margin-bottom: 0px;
        }

    
        

.teacher-container p {
            display: inline-block;
            margin-right: 100px; /* Adjust the margin to control the space between Teacher and Subject */
        }


        .form-group-course input[type="checkbox"] {
            display: flex;
        }

        .sh1 {
            margin-bottom: 10px;
            margin-top: 81px;
            margin-left: 603px;
        }
        h2 {
            margin-top: 90px;
            margin-left: 518px;
        }

        .logocp {
            background-image: url(http://[::1]:4000/resources/scss/image/ExcUseSlip.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            margin-top: -6px;
            margin-left: 470px;
            position: absolute;
            height: 50px;
            width: 102px;
            z-index: 1;
            padding: 21px 22px;
        }
        //         input[type=text], select {
        //             width: 100%;
        //             padding: 12px 20px;
        //             margin: 8px 0;
        //             display: inline-block;
        //             border: 1px solid #ccc;
        //             border-radius: 4px;
        //             box-sizing: border-box;
        //         }
        
        //         input[type=password] {
        //     width: 100%;
        //     padding: 12px 20px;
        //     margin: 8px 0;
        //     display: inline-block;
        //     border: 1px solid #ccc;
        //     border-radius: 4px;
        //     box-sizing: border-box;
        //     border-top: 7px;
        //     border-radius: 0px;
        //     border-right: 0;
        //     border-left: 0;
        //     background: #ccc;
        // }
        
        //         input[type=submit] {
        //             width: 100%;
        //             background-color: #274829;
        //             color: white;
        //             padding: 14px 20px;
        //             margin: 8px 0;
        //             border: none;
        //             border-radius: 4px;
        //             cursor: pointer;
        //         }
        
        //         input[type=submit]:hover {
        //             background-color: #fec039;
        //         }
        
                .change-pass-user {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
            width: 58%;
            margin: auto;
            margin-top: 50px;
            font-family: 'Montserrat', sans-serif;
            border-left: 1px solid yellow;
            border-right: 1px solid yellow;
            border-bottom: 5px solid #fec039;
            border-top: 1px solid yellow;
        }
        
        h2 {
            margin-top: 90px;
            margin-left: 518px;
        }
        // .slip-view-container button[type=submit] {
        //     padding: 15px 20px;
        //     background-color: #007bff;
        //     color: #fff;
        //     border: none;
        //     border-radius: 4px;
        //     cursor: pointer;
        //     border: 1px solid violet;
        //     width: 9%;
        // }
        .slip-view-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: auto;
            width: 2087px;
        }
        .btn-approved{
            margin-left: 1000px;
    margin-top: 4px;
    border: 2px yellow;
    border-style: solid;
    background: greenyellow;
    color: black;
    font-weight: bold;
        }